{
  "local": {
    "host": "http://localhost",
    "port": "8080"
    "SSLConfiguration": {
      "hasCertificatePassphrase": true,
      "clientCertificate": {
        "format": "P12",
        "path": "/home/antarus/.rewrite/certs/client1/client1.p12"
      },
      "verifyHostCertificate": false
    },
    "github": {
      "username": "XXXX",
      "pat": "YYYYY"
    }
  }
}
